@import "colors";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

$small: 0.7rem;
$normal-size: 1.3rem;
$bigger: 6.25rem;
$biggest: 10rem;

$breakpoint: 675px;

@mixin transition($properties...) {
  transition-property: $properties;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  height: 100vh;
  background: $white-90;
  padding: 88px 16px;
  font-family: "Poppins", sans-serif;
}

main {
  width: min(100% - 2rem, 52.5rem);
  margin: 0 auto;
  border-radius: 1.25rem;
  border-bottom-right-radius: 12rem;
  padding: 3.75rem;
  background: $white-100;
  color: $black;
}

@media (max-width: $breakpoint) {
  main {
    padding: 3rem 1rem;
    border-bottom-right-radius: 6rem;
  }
}

.form {
  &__fieldset {
    display: flex;
    gap: 2rem;
  }
  &__item {
    display: flex;
    flex-direction: column;
    width: 10rem;
  }
  &__button-wrapper {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin: 0.5rem 0;
    background: linear-gradient(90deg, $grey-light, $grey-light) no-repeat
      center/100% 2px;
  }
}

@media (max-width: $breakpoint) {
  .form {
    &__fieldset {
      gap: 1rem;
    }
    &__item {
      width: 5.5rem;
    }
    &__button-wrapper {
      margin: 2rem 0;
      justify-content: center;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.input {
  &__label {
    margin-bottom: 0.5rem;
    font-size: $small;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    color: $grey;
    @include transition(color);
  }
  &__input {
    box-sizing: border-box;
    outline: none;
    border: 1px solid $grey-light;
    border-radius: 0.375rem;
    padding: 1.2rem;
    font-size: $normal-size;
    caret-color: $purple;
    @include transition(border-color);
    &:focus-visible,
    &:active {
      border-color: $purple;
    }
  }
  &__message {
    display: none;
    margin-top: 0.5rem;
    font-size: $small;
    font-style: italic;
    @include transition(display);
  }
  &--error {
    & .input__label,
    & .input__message {
      display: block;
      color: $error;
    }
    & .input__input {
      border-color: $error;
    }
  }
}

@media (max-width: $breakpoint) {
  .input {
    &__label {
      margin-bottom: 0.4rem;
      font-size: $small;
      letter-spacing: 0.15rem;
    }
    &__input {
      padding: 0.7rem;
      font-size: $normal-size;
    }
    &__message {
      margin-top: 0.4rem;
      font-size: $small;
    }
  }
}

.button {
  width: 6rem;
  height: 6rem;
  border: none;
  border-radius: 50%;
  background: $purple;
  @include transition(background-color);
  &:hover,
  &:active {
    background: $black;
  }
  & svg {
    width: 46px;
    height: 40px;
  }
}

@media (max-width: $breakpoint) {
  .button {
    width: 4rem;
    height: 4rem;
    & svg {
      width: 30px;
      height: 26px;
    }
  }
}

.result {
  font-size: $bigger;
  font-weight: 800;
  font-style: italic;
  line-height: 1.1;
  &__number {
    color: $purple;
  }
}

@media (max-width: $breakpoint) {
  .result {
    font-size: 3.5rem;
  }
}

.attribution {
  position: absolute;
  left: 50%;
  bottom: 3rem;
  transform: translateX(-50%);
  font-size: 11px;
  text-align: center;
  & a {
    color: $purple;
    text-decoration: none;
  }
}
